<main>
   <div class="main">
    <div class="container">
      <h1 class="titulo-destaque ">Find a task and earn money!</h1>
      <h5 class="descricao">Find jobs</h5>
      <p><a class="btn btn-primary btn-lg" href="cadastro" role="button">Create a new account&raquo;</a></p><br>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  
    <script src="./script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script> 

    </div>
  </div>
</main>

